# http://editorconfig.org

root = true

[*]
tab_width = 8

[*.{c,h,cpp,hpp,cc,hh,inl,m,mm,rc}]
indent_style = space
indent_size = 4

[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 4

[*.{markdown,md}]
indent_style = space
trim_trailing_whitespace = false

[*.py]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[{Makefile,*.mk,*.def}]
indent_style = tab
indent_size = 8
