# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4

[*.{markdown,md}]
trim_trailing_whitespace = false

[*.yml]
indent_style = space
indent_size = 2

[{Makefile,*.mk}]
indent_style = tab
indent_size = 8
tab_width = 8
