[submodule "frametrim/tests"]
	path = frametrim/tests
	url = https://github.com/apitrace/gltrim-tests.git
	shallow = true
[submodule "thirdparty/snappy"]
	path = thirdparty/snappy
	url = https://github.com/google/snappy
	shallow = true
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib
	shallow = true
