.*.sw?
*~
*.a
*.bmp
*.bz2
*.dll
*.exe
*.exp
*.trace
*.ilk
*.lib
*.o
*.obj
*.pdb
*.png
*.pyc
*.pyo
*.so
*.zip
CMakeCache.txt
CMakeFiles
Makefile
build
cmake_install.cmake
d3d10.cpp
d3d10_1.cpp
d3d8.cpp
d3d9.cpp
ddraw.cpp
dump
dxsdk
glproc.hpp
glretrace
glretrace_gl.cpp
glretrace_state.cpp
glxtrace.cpp
traces
wgltrace.cpp
