.*.sw?
*~
*.7z
*.a
*.bmp
*.bz2
*.cbp
*.cmake
*.dll
*.dmg
*.dylib
*.exe
*.exp
*.framework
*.gz
*.ilk
*.json
*.lib
*.moc*
*.o
*.obj
*.pdb
*.png
*.pnm
*.pyc
*.pyo
*.so
*.trace
*.zip
_CPack_Packages
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
Makefile
apitrace
build
dxsdk
eglretrace
glretrace
install_manifest.txt
qapitrace
traces
