.*.sw?
*~
*.a
*.bmp
*.bz2
*.cmake
*.dll
*.dylib
*.exe
*.exp
*.gz
*.ilk
*.json
*.lib
*.o
*.obj
*.pdb
*.png
*.pyc
*.pyo
*.so
*.trace
*.zip
_CPack_Packages
CMakeCache.txt
CMakeFiles
Makefile
build
d3d10.cpp
d3d10_1.cpp
d3d8.cpp
d3d9.cpp
ddraw.cpp
dxsdk
glproc.hpp
glretrace
glretrace_gl.cpp
glstate_params.cpp
glxtrace.cpp
install_manifest.txt
qapitrace
tracedump
traces
wgltrace.cpp
