/****************************************************************************
 *
 * Copyright 2008 Tungsten Graphics, Inc.
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 ****************************************************************************/

body {
	font-family: verdana, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align : left;
}

ul.calls {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

ul.args {
	display:inline;
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

ul.args li {
	display:inline;
}

ul.elems {
	list-style: none;
	margin-left: 2em;
	padding-left: 0px;
}

ul.elems li {
	display:block;
}

.fun {
	font-weight: bold;
}

.var {
	font-style: italic;
}

.typ {
	display: none;
}

.lit {
	color: #0000ff;
}

.addr {
	color: #008000;
}

.ref {
	position: relative;
	cursor: help;
}

.def {
	display: none;
	position: absolute;
	top: 1.5em;
	left: 0;
	width: 32em;
	background: #f7f7f7;
	cursor: default;
}

.ref:hover .def {
	display: block;
}

