body {
	font-family: verdana, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align : left;
}

ul.calls {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

ul.args {
	display:inline;
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

ul.args li {
	display:inline;
}

ul.elems {
	list-style: none;
	margin-left: 2em;
	padding-left: 0px;
}

ul.elems li {
	display:block;
}

.fun {
	font-weight: bold;
}

.var {
	font-style: italic;
}

.typ {
	display: none;
}

.lit {
	color: #0000ff;
}

.addr {
	color: #008000;
}

.ref {
	position: relative;
}

.def {
	display: none;
	position: absolute;
	top: 1.5em;
	left: 0;
	width: 32em;
	background: #f7f7f7;
}

.ref:hover .def {
	display: block;
}

